<div class="content-header-container">

    <div class="error-message" id="upload-error">
        Error message here!
    </div>

    <div class="video-upload">
        <button onclick="startupload()">Upload New Video</button>
    </div>

    <input type="file" id="videoSourceFile" accept="video/mp4" required>

</div>

<div class="content-container">
    <div class="sidebar">
        <ul></ul>
    </div>
</div>