<div class="content-container">

    <div class="error-message" id="upload-error">
        Error message here!
    </div>

    <div class="video-upload">
        <input type="text" id="videoTitle" required placeholder="Video Title"/>
        <input type="file" id="videoSourceFile" accept="video/mp4" required>
        <button onclick="startupload()">Upload New Video</button>
    </div>
</div>