<div class="content-header-container">

    <div class="error-message" id="upload-error">
        Error message here!
    </div>

    <div class="video-upload">
        <button onclick="startupload()">Upload New Video</button>
    </div>

    <input type="file" id="videoSourceFile" accept="video/mp4" required>

</div>

<div class="content-container">
    <div class="sidebar" id="loadvideo-sidebar">
        <div class="video-item" onclick="loadVideo1('video1')" id="video1">Video1</div>
        <div class="video-item" onclick="loadVideo1('video2')" id="video2">Video2</div>
        <div class="video-item" onclick="loadVideo1('video3')" id="video3">Video3</div>
    </div>

    <div class="video-player">
        <video style="object-fit: cover;" id="preview-video" videoControlID="${this.videoControlID}" controls muted>
            <source id="mp4" src="" type="video/mp4" />
            <p>HTML5 Video is not supported by this browser.</p>
        </video>
    </div>


</div>