body {
    background-color: light-grey;
    font-family: Arial, Helvetica, sans-serif;
    color: #555;
}

.heading-container {
    text-align: center;
    font-size: 25px;
    text-decoration: underline;
}


/* Content Styles here  */

.content-header-container {
    display: flex;
    padding: 10px;
    border: 1px solid #aaa;
    margin-top: 20px;
}

.content-header-container .video-upload {
    margin-left: auto;
}

.content-header-container .error-message {
    color: red;
    display: none;
}

.content-container {
    display: flex;
    padding: 10px;
    border: 1px solid #aaa;
    margin-top: 20px;
}

.content-container .sidebar {
    color: green;
    padding: 10px;
}

.video-item {
    display: flex;
    cursor: pointer;
}

.video-item:hover {
    text-decoration: underline;
}


/* END: Content Styles here  */